name: ci

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Go mod tidy check
        run: |
          go mod tidy
          git diff --exit-code

      - name: Format
        run: |
          test -z "$(gofmt -l .)"

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9.0

      - name: Test
        run: go test ./...

      - name: GoReleaser build
        uses: goreleaser/goreleaser-action@v7
        with:
          version: v2.13.3
          args: build --snapshot --clean
